.content-screen {
	width: 100%;
	overflow: auto;

	.welcome-message {
		white-space: pre-wrap;
		color: rgba(97, 218, 251, 0.667);

		li {
			margin-bottom: 0.5em;
		}
	}

	&__item {
		padding-bottom: 0.6em;

		&_error {
			color: #ed4337;
		}
	}

	&::-webkit-scrollbar-track {
		background: #202020;
		border-radius: 12px; /* makes the outer part rounded */
	}
	&::-webkit-scrollbar-thumb {
		background: #303030;
		border: 2px solid transparent;
		background-clip: content-box;
		border-radius: 12px; /* makes the thumb rounded */
	}

	&::-webkit-scrollbar {
		width: 18px;
		height: 18px;
	}
}
